<div class="payment-wrapper">
  <span class="payment-title">{{ addMode ? 'New credit card' : 'Card Details' }}</span>

  <!-- Card type  -->
  <div class="payment-credit-card-type">
    <img *ngIf="creditCardType === CreditCardType.VISA || !creditCardType" src="/assets/images/visa_logo.svg"
         alt="Visa logo">
    <img *ngIf="creditCardType === CreditCardType.MASTERCARD || !creditCardType"
         src="/assets/images/mastercard_logo.svg" alt="Mastercard logo">
  </div>

  <!-- Form  -->
  <div class="form" [formGroup]="form">
    <div class="row">
      <div class="form-group col-6 col-xl-12">
        <label class="form-label" [class.error]="!form.get('cardHolder').valid">
          <span>Card holder</span>
          <input type="text" formControlName="cardHolder" ngDefaultControl autocomplete="off" [readonly]="!addMode"
                 (focus)="clearErrors('cardHolder')">
        </label>
      </div>

      <div class="form-group col-6 col-xl-12">
        <label class="form-label" [class.error]="!form.get('number').valid">
          <span>Card number</span>
          <input type="text" formControlName="number" ngDefaultControl autocomplete="off" [readonly]="!addMode"
                 (keypress)="onNumberKeyPress($event)" (focusout)="setCreditCardType()" maxlength="16"
                 (focus)="clearErrors('number')">
        </label>
      </div>
    </div>

    <div class="form-group inline">
      <mat-form-field appearance="fill">
        <mat-label>Month and Year</mat-label>
        <input matInput [matDatepicker]="dp" formControlName="expiryDate" [readonly]="!addMode" [min]="now">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp
                        startView="multi-year"
                        (yearSelected)="chosenYearHandler($event)"
                        (monthSelected)="chosenMonthHandler($event, dp)"
                        panelClass="example-month-picker"
                        [disabled]="!addMode">
        </mat-datepicker>
      </mat-form-field>
      <label class="form-label" [class.error]="!form.get('cvv').valid">
        <span>CVV</span>
        <input type="text" formControlName="cvv" ngDefaultControl autocomplete="off" [readonly]="!addMode"
               (focus)="clearErrors('cvv')" (keypress)="onNumberKeyPress($event)" maxLength="3">
      </label>
    </div>
  </div>

  <!-- Card choose  -->
  <div class="payment-card-choose">
    <button class="payment-card-choose-button" [matMenuTriggerFor]="menu" *ngIf="!addMode">
      Choose credit card
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let card of cardState?.cards" (click)="selectCard(card)">
        <span>****{{card.number.slice(-4)}} | {{moment(card.expiryDate).format('MM-YYYY')}} | {{card.cvv}}</span>
      </button>
    </mat-menu>
    <span style="color: white; padding: 0 8px;" *ngIf="!addMode">or</span>
    <button class="payment-card-choose-button" (click)="changeMode(true)" *ngIf="!addMode">
      Add new
    </button>
  </div>

  <!-- Back button  -->
  <div class="back-button" *ngIf="addMode" (click)="changeMode(false)">
    <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
    <span>Back</span>
  </div>

  <button class="pay-btn" (click)="addMode ? onAddNewCard() : onPay()">
    {{ addMode ? 'Add credit card' : 'Pay' }}
  </button>
</div>
