@import '../../../../styles/bootstrap-core';
@import '~src/styles/variables';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  ::ng-deep ngb-datepicker {
    width: 150%;

    .ngb-dp-months {
      display: none;
    }

    .ngb-dp-header {
      border-radius: .25em;
    }
  }

  ::ng-deep {
    .mat-focused .mat-form-field-label {
      color: white !important;
      opacity: 0.6;
    }

    .mat-form-field-underline {
      background-color: white !important;
      height: 1px;
    }

    .mat-form-field-flex {
      &:hover .mat-form-field-underline {
        transform: none !important;
      }
    }

    .mat-form-field-ripple {
      background-color: white !important;;
    }

    .mat-form-field-label {
      /*change color of label*/
      color: white !important;
      opacity: 0.6;
    }

    mat-form-field input {
      color: white;
    }

    mat-datepicker-toggle {
      color: white !important;
      opacity: 0.6;

      svg {
        opacity: 0.6;
      }
    }
  }
}

::ng-deep .mat-menu-panel {
  border-radius: 0 !important;
  background-color: #4b4340 !important;

  button {
    color: #ffc107;
  }
}

.payment-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 0 50px 60px 50px;

  @include media-breakpoint-down(sm) {
    padding: 0 20px 60px 20px;
  }

  .payment-title {
    color: $yellow;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1px;
    opacity: 0.9;
    line-height: 1;

    @include media-breakpoint-down(md) {
      font-size: 24px;

      &.small {
        font-size: 14px;
      }
    }

    &.small {
      font-size: 16px;
    }
  }

  .payment-credit-card-type {
    display: flex;
    width: 100%;
    margin: 30px 0;

    @include media-breakpoint-down(md) {
      margin: 15px 0;

      img {
        max-height: 40px !important;
      }
    }

    img {
      max-height: 60px;
      width: auto;

      &:first-of-type {
        margin-right: 30px;
        max-width: 30%;
      }
    }
  }

  .payment-card-choose {
    &-button {
      padding: 5px 10px;
      color: #ffc107;
      border: 1px solid #ffc107;
      background: transparent;
      transition: 0.3s;

      &:hover {
        color: #4b4340;
        background: #ffc107;
        transition: 0.3s;
      }
    }
  }

  .form-label {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 12px;

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }

    span {
      color: white;
      opacity: 0.6;
    }

    input {
      background: transparent;
      color: white;
      border: 0;
      padding: 3px 5px;
      font-size: 16px;
      transition: 0.3s;
      border-bottom: 1px solid rgba(255, 255, 255, 0.6);

      @include media-breakpoint-down(sm) {
        font-size: 14px;
      }
    }

    &:not(.error) input:not([readonly]):hover, &:not([readonly]):focus {
      border-bottom: 1px solid white;
      transform: scale(1.0001);
      transition: 0.3s;
    }

    &.error {
      color: red;

      input {
        border-bottom-color: red;
        color: red;
      }
    }
  }


  .form-group:not(.inline) {
    @include media-breakpoint-down(sm) {
      display: inline-flex;
      max-width: 50%;
    }
  }

  .form-group.inline {
    display: flex;
    width: 100%;

    mat-form-field {
      width: 70%
    }

    .form-label {
      display: flex;
      justify-content: center;
      margin-top: -4px;
      width: 30%;
      padding-left: 15px;
    }
  }
}

.back-button {
  width: fit-content;
  color: #ffc107;
}
